:root {
    --main-color: #7a0000;
    --main-color-lighter: #a31b18;
    --main-color-darker: #500000;

    --lissage-1: cubic-bezier(.42, 0, .11, .98);
}

#intro, #page {
    background-color: #141414;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all 0.8s var(--lissage-1);
}
#intro-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.8s var(--lissage-1);
}
#intro-container.min {
    transform: scale(0.1);
}

#logo {
    position: absolute;
    text-align: center;
    width: 10%;
    top: 30%;
    left: 45%;
}
#logo img {
    width: 100%;
}

#page {
    background-color: #fff;
    transform: translate3d(0, 100%, 0);
    overflow-y: scroll;
}
#page.visible {
    transform: translate3d(0, 0, 0);

}
